{
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^@?\\w",
    "^@/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "parser": "vue",
        "singleAttributePerLine": true,
        "vueIndentScriptAndStyle": false
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["*.jsx", "*.tsx", "*.js", "*.ts"],
      "options": {
        "singleAttributePerLine": true
      }
    }
  ]
}
