name: Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install dependencies and run tests
      run: |
        sudo apt-get update
        sudo apt-get install lua5.3 lua5.3-dev luarocks -y --no-install-recommends
        sudo luarocks install luacheck

    - name: Install Neovim
      uses: rhysd/action-setup-vim@v1
      with:
        neovim: true
        version: stable

    - name: Install test dependencies
      run: |
        mkdir -p $HOME/.local/share/nvim/lazy/
        git clone https://github.com/nvim-lua/plenary.nvim.git
        mv plenary.nvim $HOME/.local/share/nvim/lazy/
        git clone https://github.com/folke/snacks.nvim.git
        mv snacks.nvim $HOME/.local/share/nvim/lazy/

    - name: Run all tests
      run: make test
